<div id="room-container">
    <div id="room-content">

    <div hidden id="timer--bar" style="">
        <div>PUBLIC ACCESS BEGINS IN - <span data-time>-</span></div>
    </div>

        <div data-contain="height" id="room-content-background-container">

            <div class="load-video">
                <video playsinline autoplay muted src='https://cdn.shopify.com/videos/c/o/v/4172892fbca4410b98fa31a9d5a0085f.mp4'>
            </div>

            <img id="room-background" src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/MicrosoftTeams-image_2c59e481-48fc-4e82-ab4c-3caa6f300fee.jpg?v=1700477220">
            <span asset="tv-live-time"></span>
            {{ section.settings.video | video_tag: class: '', asset: 'tv', autoplay: true, loop: true, muted: true, controls: false }}


            <div button="delivery" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <div class="ring-container-popup">Delivery & Returns</div>
                <div class="bis-container cc-fs1">
                    <form onsubmit="return false;"
                        data-product-id="7113155543092"
                        data-variant-id="41306522288180"
                    >
                        <span class="cc-bold cc-uppercase">Delivery</span>
                        <span>Want to make a return? Visit our returns portal <b><a href="https://embed-360.postco.co/thecoutureclub">here</a></b></span>
                        <span>
                         Our delivery services and charges are listed in the table below. Please select the option that is best for you at the checkout page. All of our UK Packages are sent out via Royal Mail, Evri and DPD. All of our International Packages are sent out via DHL Express and DPD.
                         <br><br>
                         Orders are picked and packed Monday to Friday excluding any bank holidays. Any orders placed over bank holiday will be picked and despatched the following working day.
                         <br><br>
                         <br><br>
                         <table style="width: 727.311px;">
                            <tbody>
                            <tr style="height: 23px; text-align: center;">
                            <td style="width: 276px; height: 23px;"><strong>DELIVERY TYPE/COUNTRY</strong></td>
                            <td style="width: 150px; height: 23px;"><strong>DURATION</strong></td>
                            <td style="width: 100px; height: 23px;"><strong>&nbsp;PRICE</strong></td>
                            </tr>
                            <tr style="height: 102.309px;">
                            <td style="width: 276px; height: 102.309px;">
                            <p>&nbsp;<strong>STANDARD DELIVERY&nbsp;</strong></p>
                            <div><a data-encoded-tag-name="meta" data-encoded-tag-value="" data-encoded-attr-charset="dXRmLTg="></a></div>
                            <p><em><em>Delivered by Royal Mail OR Evri</em></em></p>
                            <p><em><em>Orders over £150 delivered FREE</em></em></p>
                            <div><a data-encoded-tag-name="meta" data-encoded-tag-value="" data-encoded-attr-charset="dXRmLTg="></a></div>
                            </td>
                            <td style="width: 150px; height: 102.309px;"><span>3-7 Working Days</span></td>
                            <td style="width: 100px; height: 102.309px;">
                            <p><span><span>£4.99&nbsp;</span></span></p>
                            <div><a data-encoded-tag-name="meta" data-encoded-tag-value="" data-encoded-attr-charset="dXRmLTg="></a></div>
                            </td>
                            </tr>
                            <tr style="height: 3px;">
                            <td style="width: 276px; height: 3px;">
                            <p>&nbsp;<strong>NEXT DAY DELIVERY (MON-THUR ORDER UP TO 12PM)</strong></p>
                            <p><em>(Delivered by DPD)</em></p>
                            </td>
                            <td style="width: 150px; height: 3px;">
                            <p><span>1 Working Day&nbsp;</span></p>
                            </td>
                            <td style="width: 100px; height: 3px;"><span>£12.99</span></td>
                            </tr>
                            <tr style="height: 72px;">
                            <td style="width: 276px; height: 72px;">
                            <p><strong>REPUBLIC OF IRELAND</strong></p>
                            <p><i>DHL Express</i></p>
                            <p><i>DPD</i></p>
                            </td>
                            <td style="width: 150px; height: 72px;">
                            <p>2-3 Working Days</p>
                            <p><span>3-4 Working Days</span></p>
                            </td>
                            <td style="width: 100px; height: 72px;">
                            <p>€20.00</p>
                            <p>€12.00&nbsp;</p>
                            </td>
                            </tr>
                            <tr style="height: 72px;">
                            <td style="width: 276px; height: 72px;">
                            <p><strong>NETHERLANDS, GERMANY, SPAIN &amp; FRANCE</strong></p>
                            <div><a data-encoded-tag-name="meta" data-encoded-tag-value="" data-encoded-attr-charset="dXRmLTg="></a></div>
                            <p><strong><span></span></strong><i>DHL Express</i></p>
                            <p><i>DPD</i></p>
                            </td>
                            <td style="width: 150px; height: 72px;">
                            <p>&nbsp;2-3 Working Days</p>
                            <p><span>3-5 Working Days</span></p>
                            </td>
                            <td style="width: 100px; height: 72px;">
                            <div><a data-encoded-tag-name="meta" data-encoded-tag-value="" data-encoded-attr-charset="dXRmLTg="></a></div>
                            <p>€20.00</p>
                            <p>€12.00&nbsp;</p>
                            </td>
                            </tr>
                            <tr style="height: 72px;">
                            <td style="width: 276px; height: 72px;">
                            <p><strong>REST OF EUROPE&nbsp;</strong></p>
                            <p><i>DHL Express</i></p>
                            <p><i>DPD</i></p>
                            </td>
                            <td style="width: 150px; height: 72px;">
                            <p>&nbsp;2-3 Working Days</p>
                            <p><span>3-7 Working Days</span></p>
                            </td>
                            <td style="width: 100px; height: 72px;">
                            <div><a data-encoded-tag-name="meta" data-encoded-tag-value="" data-encoded-attr-charset="VVRGLTg="></a></div>
                            <p><span>€25</span>.00</p>
                            <div><a data-encoded-tag-name="meta" data-encoded-tag-value="" data-encoded-attr-charset="VVRGLTg="></a></div>
                            <p><span>€20.00</span></p>
                            </td>
                            </tr>
                            <tr style="height: 57px;">
                            <td style="width: 276px; height: 57px;">
                            <p><span><strong>USA &amp; CANADA&nbsp;</strong><i>(Delivered by DHLExpress)&nbsp;</i></span></p>
                            </td>
                            <td style="width: 150px; height: 57px;"><span>3-5 Working Days&nbsp;</span></td>
                            <td style="width: 100px; height: 57px;">
                            <p><span>$20.00</span></p>
                            </td>
                            </tr>
                            <tr style="height: 93px;">
                            <td style="width: 276px; height: 93px;">
                            <p><span><strong>AUSTRALIA</strong>&nbsp;<i>(Delivered by DHL Express)&nbsp;</i></span></p>
                            </td>
                            <td style="width: 150px; height: 93px;"><span>3-5 Working Days</span></td>
                            <td style="width: 100px; height: 93px;"><span>$40.00</span></td>
                            </tr>
                            <tr style="height: 44px;">
                            <td style="width: 276px; height: 44px;">
                            <span><span><strong>REST OF THE WORLD</strong>&nbsp;</span></span>
                            <div><a data-encoded-tag-name="meta" data-encoded-tag-value="" data-encoded-attr-charset="dXRmLTg="></a></div>
                            </td>
                            <td style="width: 150px; height: 44px;"><span>5-7 Working Days</span></td>
                            <td style="width: 100px; height: 44px;"><span>£35.00</span></td>
                            </tr>
                            </tbody>
                            </table>
                        </span>
                    </form>
                </div>
            </div>
            {% if section.settings.tv_text != null and section.settings.tv_link != null %}
            <div button="signup" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <a href="{{ section.settings.tv_link }}" class="ring-container-popup">{{ section.settings.tv_text }}</a>
            </div>
            {% endif %}
            <a hidden button="info" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <div class="ring-container-popup">Newspaper</div>
            </a>
            <a button="decks" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <div class="ring-container-popup">Decks</div>
            </a>
            <a hidden button="door" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <div class="ring-container-popup">Keypad</div>
                <div class="bis-container cc-fs1">
                        <span class="cc-bold cc-uppercase">Congratulations you've successfully guessed our Black Friday code</span><br><br>
                        <span>Enter '2015' at checkout for an extra 10% off your order.<br>
                        Site unlocks at 7pm & codes are limited, so be fast. </span>
                </div>
            </a>
            <div button="basketball" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <a href="https://www.thecoutureclub.com/products/7th-anniversary-branded-basketball-with-stand" class="ring-container-popup">Couture Club Basketball</a>
            </div>
            <div button="skateboard" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <a href="https://www.thecoutureclub.com/products/copyright-skateboard-black" class="ring-container-popup">Couture Club Skateboard</a>
            </div>
            <div button="rug" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <a href="https://www.thecoutureclub.com/products/couture-club-rug" class="ring-container-popup">Couture Club Rug</a>
            </div>
            <a hidden button="note" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <div class="ring-container-popup">Note</div>
                <div class="bis-container cc-fs1">
                    <form onsubmit="return false;"
                        data-product-id="7113155543092"
                        data-variant-id="41306522288180"
                    >
                        <span class="cc-bold cc-uppercase">Want to play a Black Friday game?</span>
                        <span>We’ve hidden a meaningful Couture Club 4 digit code in the Showroom. Can you crack it? <br><br>
                        The first 100 to enter the code at checkout will get an Extra 10% off.</span>
                    </form>
                </div>
            </a>
            <div button="fluffy-knit-emblem-joggers-black" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <a href="https://www.thecoutureclub.com/products/fluffy-knit-emblem-joggers-black" class="ring-container-popup">Fluffy Knit Emblem Joggers - Black</a>
            </div>
            <div button="fluffy-knit-emblem-crew-black" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <a href="https://www.thecoutureclub.com/products/fluffy-knit-emblem-crew-black" class="ring-container-popup">Fluffy Knit Emblem Crew - Black</a>
            </div>
            <div button="fluffy-knit-emblem-crew-beige" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <a href="https://www.thecoutureclub.com/products/fluffy-knit-emblem-crew-beige" class="ring-container-popup">Fluffy Knit Emblem Crew - Beige</a>
            
            </div>
            <div button="fluffy-knit-emblem-joggers-beige" class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
                <a href="https://www.thecoutureclub.com/products/fluffy-knit-emblem-joggers-beige" class="ring-container-popup">Fluffy Knit Emblem Joggers - Beige</a>
            </div>
        </div>
    </div>
    <div id="spotify-popup">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0cHMjWoyzDYcJsYwMYr9ob" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
</div>

<div id="info-box">
    <span class="info-box-content cc-f2">
        <img id="bf-newspaper" src='https://cdn.shopify.com/s/files/1/0242/6047/6980/files/581a5ed8-4d77-4438-91be-05ad77a6d8fc.jpg?v=1700488813'>
    </span>
</div>

<div id='showroom-product'>
</div>

{% if template.name == 'password' %}

    <div hidden id="password-form">
        <div class="password-pop__inner">
            {% form 'storefront_password' %}
                {{ form.errors | default_errors }}
                <label for="password" class="u-hidden-visually">{{ 'general.password_page.login_form_password_label' | t }}</label>
                    <input type="text" placeholder="Enter Password" name="password" id="Password" class="js-password-input">
                <button type="submit" name="commit" class="c-btn password-submit-btn cc-btn c-btn--full">
                        {{ 'general.password_page.login_form_submit' | t }}
                </button>
                {% endform %}
                <div class="password-header__link">
                    <a href="#" class="password-header__link-link f-family--body">BACK</a>
                </div>
        </div>
    </div>

    <div id="enter_password">
        Enter Password
    </div>

{% endif %}

<div id="bf-keypad">

        <form>
            <p></p>
            <button data-num="1"></button>
            <button data-num="2"></button>
            <button data-num="3"></button>
            <button data-num="4"></button>
            <button data-num="5"></button>
            <button data-num="6"></button>
            <button data-num="7"></button>
            <button data-num="8"></button>
            <button data-num="9"></button>
            <button data-num="0"></button>
            <button data-enter></button>
            <input hidden data-code value="">
        </form>
        <img id="keypad-graphic" src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/LOCKED_2.png?v=1700228648"></div>

<script>

    var video = document.getElementsByTagName('video')[0];

    video.onended = function(e) {
      video.classList.add('hidden');
      setTimeout(() => { video.closest('.load-video').style.display = "none"; }, "500");
    };

    window.addEventListener('load', function(event) {
        roomResize();
        scrollPlacement();
        clockInit();
        document.getElementById('room-content').setAttribute('data-loaded', 'true');
        document.getElementById('enter_password').click();
    }, true);

    window.addEventListener("resize", function(event){
        roomResize()
    });

    /* document.querySelector('[button="signup"]').addEventListener("click", function(){
        window._klOnsite = window._klOnsite || [];
        window._klOnsite.push(['openForm', 'WK7Ht8']);
    }); */

    var bisContent = document.querySelectorAll('[button] .ring-container-popup');
    var bisContainer = document.querySelector('#showroom-product')

    bisContent.forEach((product) => {
        var button = product.closest('[button]');
        product.addEventListener("click", function(event){
            bisContainer.innerHTML = '';
            bisContainer.appendChild(button.querySelector('.bis-container').cloneNode(true));
            event.preventDefault();
            theme.mfpOpen('showroom-product-popup');

        });
    });

    document.querySelector('[button="info"]').addEventListener("click", function(){
        theme.mfpOpen('info-box');
    });
    document.querySelector('[button="door"]').addEventListener("click", function(){
        theme.mfpOpen('bf-keypad');
    });
    document.querySelector('[button="decks"]').addEventListener("click", function(){
        document.querySelector('#spotify-popup').setAttribute('data-open', '');
    });
    document.querySelector('#spotify-popup').addEventListener("click", function(){
        document.querySelector('#spotify-popup').removeAttribute('data-open');
    });

    function bisSubmit(event) {

        var form = event.closest('form');
        console.log(form);
        var productID = form.getAttribute('data-product-id');

        if (form.querySelector('select') != null) {
            var variantID = form.querySelector('select').value;
            } else {
            var variantID = form.getAttribute('data-variant-id');

        }

        var email = form.querySelector('[type="email"]');
        console.log(variantID)

        if (email.validity.valid) {
            promise = BIS.create(email.value, variantID, productID);
            promise.then(function(data) {
                form.querySelector('[type="submit"]').value = '✅'
            })
        }

    }

    var keypadButtons = document.querySelectorAll("#bf-keypad button[data-num]")

    keypadButtons.forEach((button) => {
    
        button.addEventListener("click", function(event){

            event.preventDefault();

            var number = button.getAttribute('data-num');
            var form = button.closest('form');

            form.querySelector('input').value += number;

            if (form.querySelector('input').value.toString().length >= 7) {
                document.querySelector('.mfp-content').classList.add('shake');
                setTimeout(() => { document.querySelector('.mfp-content').classList.remove('shake'); form.querySelector('p').innerHTML = ''; form.querySelector('input').value = ''; }, "500");    
            }

            form.querySelector('p').innerHTML = form.querySelector('input').value;

        });

    });

    var keypadEnter = document.querySelector("#bf-keypad button[data-enter]")

    keypadEnter.addEventListener("click", function(event){

        event.preventDefault();
        var form = event.target.closest('form');
        var inputValue = form.querySelector('input').value

        // Not the password ⤵
        if (inputValue == '2015') {
            document.querySelector('#keypad-graphic').src = 'https://cdn.shopify.com/s/files/1/0242/6047/6980/files/UNLOCKED_1.png?v=1700228648';

            setTimeout(() => { form.querySelector('p').innerHTML = 'SUCCESS' }, "500");
            setTimeout(() => { form.querySelector('input').value = ''; $.magnificPopup.close(); }, "1500");
            setTimeout(() => { document.querySelector('#keypad-graphic').src = 'https://cdn.shopify.com/s/files/1/0242/6047/6980/files/LOCKED_2.png?v=1700228648'; form.querySelector('p').innerHTML = ''; theme.mfpOpen('showroom-product-popup'); }, "2000");


        } else {
            document.querySelector('.mfp-content').classList.add('shake');
            setTimeout(() => { document.querySelector('.mfp-content').classList.remove('shake'); form.querySelector('p').innerHTML = ''; form.querySelector('input').value = ''; }, "500");
        }

    });

    function roomResize() {
        const container = document.getElementById('room-content-background-container');
        const page = document.getElementById('room-content');
        
        if (container.clientWidth > page.clientWidth || container.clientHeight < page.clientHeight ) {
            container.setAttribute('data-contain', 'height');
        } else {
            container.setAttribute('data-contain', 'width');
        }
    }

    function scrollPlacement() {
        var doc = document.getElementById('room-content')
        pageSize = ((doc.scrollWidth - doc.clientWidth) / 100) * 50
        doc.scrollTo(pageSize, 0)
    }

    {% if template.name == 'password' %} 

    document.querySelector('.password-header__link').addEventListener("click", function(){
        document.getElementById('password-form').setAttribute('hidden', '');
    });

    document.querySelector('#enter_password').addEventListener("click", function(){
        document.getElementById('password-form').removeAttribute('hidden');
    });

    {% endif %}

    function clockInit() {

        const url = 'http://worldtimeapi.org/api/timezone/Europe/London';

        fetch(url)
        .then((response) => response.json())
        .then((data) => {
            var countDownDate = new Date("Nov 22, 2023 22:00:00").getTime();
            var now = new Date(data.datetime).getTime();
            window.time = now;

            if ((countDownDate - window.time) < 0) {
                unlocked();
            }

            var x = setInterval(function() {
                var distance = countDownDate - window.time;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the element with id="demo"
                document.querySelector("#timer--bar [data-time]").innerHTML = hours + "H : "
                + minutes + "M : " + seconds + "S";

                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.querySelector("#timer--bar").innerHTML = "BLACK FRIDAY NOW LIVE";
                    unlocked();
                }
                window.time = window.time + 1000;
            }, 1000);
        })

    }

</script>

<style>
    [data-contain="height"] {
        height: 100%
    }
    [data-contain="width"] {
        width: 100%
    }
    #room-container {
        height: calc(100dvh - 54px);
        height: calc(100vh - 54px);
        top: 54px;
        width: 100%;
        display: block;
        position: absolute;
        background: black;
    }
    img, [asset="tv-live-time"], #denied-container {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    #room-content {
        opacity: 0%;
        transition: 1s;
        height: 100%;
        overflow: scroll;
        position: relative;
        background: white;
    }
    #room-content[data-loaded] {
        opacity: 100%;
    }
    #room-background {
        min-height: 100%;
        max-width: inherit;
        height: 100%;
    }
    #room-content-background-container {
        aspect-ratio: 5000/2783;
        position: absolute;
    }
    announcement-bar {
        display: none;
    }
    [asset] {
        position: absolute;
    }
    [asset="tv"] {
        position: absolute;
        left: 35.65%;
        top: 9%;
        width: 11%;
        transform: skew(0.8deg, 336.5deg) scaleY(1.14) scaleX(0.95);
    }
    [asset="tv-live-time"] {
        position: absolute;
        left: 65.7%;
        top: 36%;
        color: #fff;
        z-index: 1;
        transform: skew(358deg,20deg) scaleX(1.08);
        width: 9%;
        text-align: center;
        color: #05ec24;
    }

    [button="delivery"] {
        top: 69%;
        left: 6%;
    }
    [button="signup"] {
        top: 19.3%;
        left: 41%;
    }
    [button="info"] {
        top: 51.8%;
        left: 46.5%;
    }
    [button="decks"] {
        top: 27%;
        left: 52.4%;
    }
    [button="door"] {
        top: 44%;
        left: 83.8%;
    }
    [button="basketball"] {
        top: 62%;
        left: 67.6%;
    }
    [button="skateboard"] {
        top: 18.2%;
        left: 56.6%;
    }
    [button="rug"] {
        top: 61.5%;
        left: 81.5%;
    }
    [button="note"] {
        top: 60%;
        left: 25%;
    }
    [button="fluffy-knit-emblem-crew-beige"] {
        top: 41%;
        left: 18%;
    }
    [button="fluffy-knit-emblem-joggers-beige"] {
        top: 37%;
        left: 21.2%;
    }
    [button="fluffy-knit-emblem-crew-black"] {
        top: 46%;
        left: 11.5%;
    }
    [button="fluffy-knit-emblem-joggers-black"] {
        top: 48%;
        left: 7.8%;
    } 

    [button] .bis-container {
        opacity: 0;
        display: none;
        position: absolute;
        top: 15px;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        width: max-content;
        background: white;
        box-shadow: 0px 0px 20px 0px #0000005c;
        transform: translate(-32%, 0px);
        transition: 0.3s;
        scale: .75;
        left: -133%;
    }
    [button]:hover .bis-container {
        opacity: 1;
        display: block;
    }
    [hidden] {
        display: none !important;
    }
    #keypad-graphic {
        max-width: 400px;
        width: 100%;
    }
    #keypad-graphic-unlocked {
        display: none;
    }
    #bf-keypad {
        position: relative;
        background: transparent;
    }
    #bf-keypad form {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    #bf-keypad button {
        position: absolute;
        width: 26%;
        height: 17%;
        opacity: 10%;
        cursor: pointer;
    }
    #bf-keypad form p {
        position: absolute;
        top: 6%;
        height: 14%;
        max-width: 65%;
        left: 11%;
        font-size: 50px;
        line-height: 1;
        color: greenyellow;
        font-family: monospace;
        padding: 10px;
        overflow: scroll;
        margin: 0px;
        display: flex;
        align-items: center;
    }
    #bf-keypad button[data-num="1"] {
        top: 23%;
        left: 11%;
    }
    #bf-keypad button[data-num="2"] {
        top: 23%;
        left: 37%;
    }
    #bf-keypad button[data-num="3"] {
        top: 23%;
        left: 64%;
    }
    #bf-keypad button[data-num="4"] {
        top: 41%;
        left: 11%;
    }
    #bf-keypad button[data-num="5"] {
        top: 41%;
        left: 37%;
    }
    #bf-keypad button[data-num="6"] {
        top: 41%;
        left: 64%;
    }
    #bf-keypad button[data-num="7"] {
        top: 59%;
        left: 11%;
    }
    #bf-keypad button[data-num="8"] {
        top: 59%;
        left: 37%;
    }
    #bf-keypad button[data-num="9"] {
        top: 59%;
        left: 64%;
    }
    #bf-keypad button[data-num="0"] {
        top: 76%;
        left: 11%;
    }
    #bf-keypad button[data-enter] {
        top: 76%;
        left: 37%;
        width: 53%;
    }
    .ring-container {
        position: absolute;
        display: block;
        height: 25px;
        width: 25px;
        transition: 0.3s;
    }
    .ring-container:hover {
        cursor: pointer;
        transform: scale(1.5);
    }
    .circle {
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-box-shadow: 0px 0px 15px 5px #00000030;
        box-shadow: 0px 0px 15px 5px #00000030;
    }
    .ringring {
        border: 1px solid #fff;
        -webkit-border-radius: 30px;
        height: 25px;
        width: 25px;
        position: absolute;
        -webkit-animation: pulsate 1s ease-out;
        -webkit-animation-iteration-count: infinite;
        opacity: 0;
    }
    .ring-container-popup {
        display: none;
        position: absolute;
        top: 5px;
        transform: translate(-50%, 0%);
        left: 50%;
        background: white;
        padding: 5px 10px;
        border-radius: 15px;
        line-height: 1;
        width: max-content;
        font-size: calc((var(--font--size-grid) / var(--font--size-base)) * 0.75rem)!important;
    }
    .ring-container:hover .ring-container-popup {
        display: block
    }
    #denied-container {
        position: absolute;
        display: none;
        height: 100%;
        width: 100%;
        top: 0;
        justify-content: center;
        background: #ff000080;
        flex-direction: column;
    }
    #denied-container span {
        align-self: center;
        font-size: 10vw;
        font-weight: bold;
        color: white;
        line-height: 1;
    }
    #denied-container p {
        align-self: center;
        color: white;
        letter-spacing: 3px;
    }
    #spotify-popup {
        position: absolute;
        display: none;
        background: rgba(11,11,11,.4);
        z-index: 1;
        width: 100%;
        top: 0px;
        height: 100%;
        transition: 0.3s;
    }
    #spotify-popup iframe {
        border-radius: 12px;
        position: absolute;
        width: 80%;
        left: 50%;
        height: 80%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    [data-open]#spotify-popup {
        display: block;
    }
    .denied {
        opacity: 0;
        display: flex !important;
        -webkit-animation: denied 2s ease-out;
        -webkit-animation-iteration-count: 1;
    }
    .shake {
        -webkit-animation: shake 0.5s ease-out;
        -webkit-animation-iteration-count: infinite;
    }
    .js-info-open .mfp-container {
        display: flex;
    }
    .js-info-open .mfp-content {
        left: 0;
        height: auto;
        width: auto;
        max-width: 90%;
        background: inherit;
        margin: auto;
        max-height: 80%;
        overflow: scroll;
        border-radius: 0;
    }
    .js-keypad-open .mfp-content {
        background: none;
        padding: 0px;
        max-height: 90%;
    }
    #main #info-box, .js-section__footer, #main #bf-keypad, #main #showroom-product {
        display: none;
    }
    .js-info-open #info-box {
        margin: auto;
        align-content: center;
    }
    .js-info-open #bf-newspaper {
        max-width: 500px;
    }
    .info-box-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .info-box-content p {
        margin: 0px;
        line-height: 1.5;
        text-align: center;
    }
    .mfp-container #info-box button.mfp-close {
        display: block !important;
        top: 5%;
        font-size: 20px;
        width: 20px;
        margin-right: 8px;
    }

    .mfp-container #info-box button.mfp-close .icon {
        font-weight: bold;
    }

    #room-content .bis-container {
        display: none;
    }

    .bis-container {
        padding: 30px;
        text-align: center;
        max-width: 500px;
        background: white;
    }

    .bis-container p {
        margin: 0;
    }

    .bis-container form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: scroll;
    }
    .bis-container label {
        font-size: inherit;
        font-weight: 900;
        line-height: 1;
        align-self: center;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 10px;
    }
    .bis-container [type='email'] {
        margin: 0px;
        height: auto;
    }
    .bis-container select {
        margin: 0px;
    }
    .bis-container .cc-button {
        cursor: pointer;
    }

    .load-video {
        display: none;
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .load-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    }

    video.hidden {
        opacity: 0%;
    }

    @-webkit-keyframes pulsate {
        0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
        50% {opacity: 1.0;}
        100% {-webkit-transform: scale(2, 2); opacity: 0.0;}
    }

    @-webkit-keyframes denied {
        0% {opacity: 0.0;}
        25% {opacity: 1.0;}
        50% {opacity: 0.0;}
        75% {opacity: 1.0;}
        100% {opacity: 0.0;}
    }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

 #password-form {
    height: 100%;
    position: absolute;
    width: 100%;
    background: rgba(11,11,11,.4);
    z-index: 1;
 }

 .password-pop__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 80%;
    text-align-last: center;
 }

 #enter_password {
    color: black;
    position: absolute;
    left: 10px;
    bottom: 10px;
    line-height: 1;
    font-weight: bold;
    padding: 5px 10px;
    z-index: 2;
    cursor: pointer;
 }
 
 .password-pop__inner[hidden] {
    display: none;
 }

 .password-header__link {
    margin: 12px;
 }

 #timer--bar {
    width: 100%;
    position: fixed;
    background: black;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    gap: 15px;
 }

</style>

{% schema %}
    {
        "name": "Black Friday Showroom",
        "settings": [
            {
                "type": "video",
                "id": "video",
                "label": "TV Video"
            },
            {
                "type": "text",
                "id": "tv_text",
                "label": "TV CTA Text",
                "default": "Learn More"
            },
            {
                "type": "url",
                "id": "tv_link",
                "label": "Button link"
            }
        ],
        "presets": [
            {
                "name": "Black Friday Showroom"
            }
        ]
    }
  {% endschema %} 