<section class="section section--{{ section.id }} section--password-content" data-section-id="{{ section.id }}" data-section-type="password-content">
    <div class="">
        <div class="password-content u-flex u-flex--middle u-flex--center">

            {{ section.settings.video_mobile | video_tag: id: 'video-bg-password', class: 'u-hidden@tab-up', autoplay: true, loop: true, muted: true, controls: false, playsinline: true }}

            {{ section.settings.video | video_tag: id: 'video-bg-password', class: 'u-hidden@tab-down', autoplay: true, loop: true, muted: true, controls: false, playsinline: true }}

            {%- if section.blocks.size > 0 -%}
                <div class="password-pop">
                    <div class="password-pop__wrapper">
                        <div class="password-pop__head">
                            <div class="password-pop__label">
                                <h1 class="password-pop__label-title h2">{{ 'general.password_page.login_form_password_placeholder' | uppercase | t }}</h1>
                            </div>
                        </div>
                        <div class="password-pop__inner">
                            {% form 'storefront_password' %}
                                {{ form.errors | default_errors }}
                                <label for="password" class="u-hidden-visually">{{ 'general.password_page.login_form_password_label' | t }}</label>
                                    <input placeholder="PASSWORD" type="password" name="password" id="Password" class="js-password-input">
                                <button type="submit" name="commit" class="c-btn password-submit-btn cc-btn c-btn--full">
                                        {{ 'general.password_page.login_form_submit' | t }}
                                </button>
                                {% endform %}
                        </div>
                        <div class="password-header__link">
                            <a href="#" class="password-header__link-link f-family--body">BACK TO SIGNUP</a>
                        </div>
                    </div>
                </div>
                <div class="password-content__content">
                    {%- for block in section.blocks -%}
                        {%- case block.type -%}
                        {%- when 'heading' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class="section__title section__title--center">
                                    <h2 id="timer" class="section__title-text h2">{{ section.settings.signup_title }}</h2>
                                    <p>{{ section.settings.signup_text }}</p>
                                </div>
                                {% unless shop.password_message == blank %}
                                    <div class="section__title-desc rte">
                                        <p>{{ shop.password_message }}</p>
                                    </div>
                                {% endunless %}
                            </div>

                        {%- when 'text' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class= "password-content__message rte">
                                    {% unless block.settings.text == blank %}
                                        {{ block.settings.text }}
                                    {% endunless %}
                                </div>
                            </div>

                        {%- when 'newsletter' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class="password-content__form">
                                    <div class="klaviyo-form-{{ section.settings.klaviyo_form }}"></div>
                                </div>
                            
                            </div>

                        {%- when 'share' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class="password-content__social">
                                    {% capture share_link %}{{ shop.url }}{% endcapture %}
                                    {% capture share_title %}{{ shop.name | url_param_escape }}{% endcapture %}
                                    {% capture share_img %}{{ section.settings.bg_image | img_url: '800x' }}{% endcapture %}
                                    <ul class="password__share-items">
                                        {% if settings.share_facebook %}
                                            <li class="password__share-item">
                                                <a href="//www.facebook.com/sharer.php?u={{ share_link }}" class="password__share-link icon-fallback" target="_blank">
                                                    <i class="icon icon--facebook" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Facebook</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if settings.share_twitter %}
                                            <li class="password__share-item">
                                                <a href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}" class="password__share-link icon-fallback" target="_blank">
                                                    <i class="icon icon--twitter" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Twitter</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if settings.share_pinterest %}
                                            <li class="password__share-item">
                                                <a href="http://pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_img }}&amp;description={{ share_title }}" class="password__share-link icon-fallback" target="_blank">
                                                    <i class="icon icon--pinterest" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Pinterest</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if settings.share_mail %}
                                            <li class="password__share-item">
                                                <a href="mailto:?body={{ share_title }} - {{ share_link }}" class="password__share-link icon-fallback">
                                                    <i class="icon icon--mail" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Email</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                        {%- endcase -%}
                    {%- endfor -%}
                    <div class="password-header__link">
                        <a href="#" class="password-header__link-link f-family--body">Enter using password</a>
                        <a href="https://thecoutureclub.loopreturns.com/#/" class="password-header__link-link f-family--body">Make a return</a>
                    </div>
                </div>
            {%- endif -%}
        </div>
    </div>
</section>

<script>

window.addEventListener("DOMContentLoaded", function () {
    document.querySelector('html').classList.add('no-scroll');

    window.addEventListener("klaviyoForms", function(e) { 
        if (e.detail.type == 'submit') {
            gsap.to(".js-section__password-lock",{
                autoAlpha: 0,
                duration: 1,
                onComplete: function() {
                  document.querySelector('.js-section__password-lock').style.display = 'none'
                }
            })
            document.querySelector('html').classList.remove('no-scroll');
        }
    });
});

// Set the date we're counting down to
var countDownDate = new Date("{{section.settings.countdown_timer}}").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("timer").innerHTML = '{{ section.settings.signup_title_locked }} ' + days + "D " + hours + "H "
  + minutes + "M " + seconds + "S ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "{{ section.settings.signup_title }}";
  }
}, 1000);

{% if section.settings.show_password_box %}
    {% assign class = 'password-pop' %}
{% else %}
    {% assign class = 'password-content__content' %}
{% endif %}

setTimeout(function () { document.querySelector(".{{class}}").classList.add('loaded'); }, 100);

gsap.to(".password-content",{
    autoAlpha: 1,
    duration: 1,
    delay: 5
})

</script>

<style>
    .password-content__block, .section__title--center, .password-content__content p, .password-content__block, .password-header__link, .password-content__content, .password-pop__inner {
        margin: 0;
    }
    .password-pop__wrapper, .password-content__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .password-content {
        background: none;
        /* -webkit-backdrop-filter: blur(8px); */
        /* backdrop-filter: blur(8px); */
        /* opacity: 0; */
        /* visibility: hidden; */
    }
</style>

{% schema %}
{
    "name": "Password Lock",
    "class": "js-section__password-lock",
    "settings": [
        {
            "type": "header",
            "content": "Contdown Timer"
        },
        {
            "type": "text",
            "id": "countdown_timer",
            "label": "Form Countdown",
            "default": "May 15, 2024 19:00:00",
            "info": "Must follow following format 'Feb 15, 2024 19:00:00 GMT' (in GMT)"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "text",
            "id": "signup_title_locked",
            "label": "Form Title (Locked)",
            "default": "END OF SEASON SALE - SITE UNLOCKS IN:"
        },
        {
            "type": "text",
            "id": "signup_title",
            "label": "Form Title (Unlocked)",
            "default": "END OF SEASON SALE - SITE UNLOCKED FOR MEMBERS"
        },
        {
            "type": "text",
            "id": "signup_text",
            "label": "Form Text",
            "default": "As we prepare for our End Of Season Sale launch we have closed the site. Members get early access at 7pm, sign up below."
        },
        {
            "type": "header",
            "content": "Media"
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image (Desktop)"
        },
        {
            "type": "image_picker",
            "id": "bg_image_mobile",
            "label": "Background Image (Mobile)"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Video"
        },
        {
            "type": "video",
            "id": "video_mobile",
            "label": "Video (Mobile)"
        },
        {
            "type": "header",
            "content": "Extra"
        },
        {
            "type": "checkbox",
            "id": "show_password_box",
            "label": "Show password form by default",
            "default": false,
            "info": "Shows password form instead of signup form by default"
        },
        {
            "type": "text",
            "id": "klaviyo_form",
            "label": "Klaviyo form ID",
            "default": "UsPdCH"
        }
    ],
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Opening soon"
                }
            ]
        },
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Be the first to know when we launch.<p>"
                }
            ]
        },
        {
            "type": "newsletter",
            "name": "Newsletter",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "newsletter_button_text",
                    "label": "Newsletter button text",
                    "default": "Sign up"
                },
                {
                    "type": "paragraph",
                    "content": "Every sign up will create a 'Customer account' in this store. [Manage customers](/admin/customers?query=&tag=prospect)"
                }
            ]
        },
        {
            "type": "share",
            "name": "Share",
            "limit": 1
        }
    ],
    "presets": [
        {
            "name": "Password Lock"
        }
      ]
}
{% endschema %}
