<section class="section section--{{ section.id }} section--password-content" data-section-id="{{ section.id }}" data-section-type="password-content">
    <div active class="section--password-content_container">
        <div class="password-content u-flex u-flex--middle u-flex--center">

            {% if section.settings.bg_image != blank %}
                <img
                    class="password-content__bg u-hidden@tab-down"
                    src="{{ section.settings.bg_image | img_url: '720x' }}"
                    srcset="{% render 'bgset', image: section.settings.bg_image %}"
                    width="720"
                    height="{{ 720 | divided_by: section.settings.bg_image.aspect_ratio | round }}"
                    alt="{{ section.settings.bg_image.alt }}"
                    loading="lazy"
                    style="object-position:{{ section.settings.bg_image.presentation.focal_point }}"
                />
            {% endif %}
            {% if section.settings.bg_image_mobile != blank %}
                <img
                    class="password-content__bg u-hidden@tab-up"
                    src="{{ section.settings.bg_image_mobile | img_url: '720x' }}"
                    srcset="{% render 'bgset', image: section.settings.bg_image_mobile %}"
                    width="720"
                    height="{{ 720 | divided_by: section.settings.bg_image_mobile.aspect_ratio | round }}"
                    alt="{{ section.settings.bg_image_mobile.alt }}"
                    loading="lazy"
                    style="object-position:{{ section.settings.bg_image_mobile.presentation.focal_point }}"
                />
            {% endif %}

            {{ section.settings.video_mobile | video_tag: id: 'video-bg-password', class: 'u-hidden@tab-up', autoplay: true, loop: true, muted: true, controls: false, playsinline: true }}

            {{ section.settings.video | video_tag: id: 'video-bg-password', class: 'u-hidden@tab-down', autoplay: true, loop: true, muted: true, controls: false, playsinline: true }}

            {%- if section.blocks.size > 0 -%}
                <div class="password-pop">
                    <div class="password-pop__wrapper">
                        <div class="password-pop__head">
                            <div class="password-pop__label">
                                <h1 class="password-pop__label-title h2">{{ 'general.password_page.login_form_password_placeholder' | uppercase | t }}</h1>
                            </div>
                        </div>
                        <div class="password-pop__inner">
                            {% form 'storefront_password' %}
                                {{ form.errors | default_errors }}
                                <label for="password" class="u-hidden-visually">{{ 'general.password_page.login_form_password_label' | t }}</label>
                                    <input placeholder="Password" type="password" name="password" id="Password" class="js-password-input">
                                <button onclick="document.querySelector('#login_form').submit()" type="submit" name="commit" class="password-submit-btn">
                                        {{ 'general.password_page.login_form_submit' | t }}
                                </button>
                                {% endform %}
                        </div>
                        <div class="password-header__link">
                            <a href="#" class="password-header__link-link f-family--body">
                                {% if section.settings.show_password_box %}
                                    Get Password
                                {% else %}
                                    Back
                                {%  endif %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="password-content__content">
                    {%- for block in section.blocks -%}
                        {%- case block.type -%}
                        {%- when 'heading' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class="section__title section__title--center">
                                    <h2 id="timer" class="section__title-text h2">{{ section.settings.signup_title }}</h2>
                                    <p>{{ section.settings.signup_text }}</p>
                                </div>
                                {% unless shop.password_message == blank %}
                                    <div class="section__title-desc rte">
                                        <p>{{ shop.password_message }}</p>
                                    </div>
                                {% endunless %}
                            </div>

                        {%- when 'text' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class= "password-content__message rte">
                                    {% unless block.settings.text == blank %}
                                        {{ block.settings.text }}
                                    {% endunless %}
                                </div>
                            </div>

                        {%- when 'newsletter' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class="password-content__form">
                                    <div class="klaviyo-form-{{ section.settings.klaviyo_form }}"></div>
                                </div>
                            
                            </div>

                        {%- when 'share' -%}
                            <div class="password-content__block password-content__block--{{ block.type }}" {{ block.shopify_attributes }}>
                                <div class="password-content__social">
                                    {% capture share_link %}{{ shop.url }}{% endcapture %}
                                    {% capture share_title %}{{ shop.name | url_param_escape }}{% endcapture %}
                                    {% capture share_img %}{{ section.settings.bg_image | img_url: '800x' }}{% endcapture %}
                                    <ul class="password__share-items">
                                        {% if settings.share_facebook %}
                                            <li class="password__share-item">
                                                <a href="//www.facebook.com/sharer.php?u={{ share_link }}" class="password__share-link icon-fallback" target="_blank">
                                                    <i class="icon icon--facebook" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Facebook</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if settings.share_twitter %}
                                            <li class="password__share-item">
                                                <a href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}" class="password__share-link icon-fallback" target="_blank">
                                                    <i class="icon icon--twitter" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Twitter</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if settings.share_pinterest %}
                                            <li class="password__share-item">
                                                <a href="http://pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_img }}&amp;description={{ share_title }}" class="password__share-link icon-fallback" target="_blank">
                                                    <i class="icon icon--pinterest" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Pinterest</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if settings.share_mail %}
                                            <li class="password__share-item">
                                                <a href="mailto:?body={{ share_title }} - {{ share_link }}" class="password__share-link icon-fallback">
                                                    <i class="icon icon--mail" aria-hidden="true"></i>
                                                    <span class="icon-fallback__text">Email</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                        {%- endcase -%}
                    {%- endfor -%}
                    <div class="password-header__link">
                        <a href="#" class="password-header__link-link f-family--body">Enter Store</a>
                        {%  comment %} <a href="#contact" onclick="window.fcWidget.open();" class="password-header__link-link f-family--body">Contact Us</a> {%  endcomment %}
                        <a href="#video" class="password-header__link-link js-video-show f-family--body">Watch {{ section.settings.pop-up-video_title }}</a>
                        <a href="https://thecoutureclub.loopreturns.com/#/" class="password-header__link-link f-family--body">Make a return</a>
                    </div>
                </div>
    
            {%- endif -%}
        </div>
    </div>
    <div class="password-content__video js-password-video cc-ppinter">
        <div class="password-content__video--container">
        {% if section.settings.video_url != '' %}
            <video controls loop src="{{ section.settings.video_url }}" class="js-password-video video-js"></video>
            {% else %}
            {{ section.settings.pop-up-video | video_tag: aria-active:"false", poster: 'https://cdn.shopify.com/s/files/1/0242/6047/6980/files/preview_images/d2fa0bc93a12498c902f25759044c66a.thumbnail.0000000000.jpg?v=1763566698', autoplay: false, loop: true, muted: true, controls: true, class: 'js-password-video video-js' }}
        {% endif %}
        <span class="password-content__video--icon cc-pointer js-close-video"><i class='icon icon--close' aria-hidden='true'></i></span>
        </div>
    </div>
</section>

{% include 'freshdesk' %}

<style>
    .vjs-poster img {
        object-fit: cover;
    }
</style>

<script>

{% if section.settings.show_password_box %}
    {% assign class = 'password-pop' %}
{% else %}
    {% assign class = 'password-content__content' %} 
{% endif %}

setTimeout(function () { document.querySelector(".{{class}}").classList.add('loaded'); }, 1500);

var elem = document.querySelector(".video-js");
videojs(elem, {}, function(){});

var e = document.querySelector('.js-video-show');
var x = document.querySelector('.js-close-video');

e.addEventListener('click', function(event) {
    document.querySelector('.section--password-content_container').toggleAttribute("active");
    document.querySelector('.js-password-video').toggleAttribute("active");
});

x.addEventListener('click', function(event) {
    document.querySelector('.section--password-content_container').toggleAttribute("active");
    document.querySelector('.js-password-video').toggleAttribute("active");
});



</script>

{% schema %}
{
    "name": "Password content",
    "class": "js-section__password-content",
    "settings": [
        {
            "type": "header",
            "content": "Media"
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image (Desktop)"
        },
        {
            "type": "image_picker",
            "id": "bg_image_mobile",
            "label": "Background Image (Mobile)"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Video"
        },
        {
            "type": "video",
            "id": "video_mobile",
            "label": "Video (Mobile)"
        },
        {
            "type": "header",
            "content": "Video"
        },
        {
            "type": "text",
            "id": "pop-up-video_title",
            "label": "Heading",
            "default": "BTS"
        },
        {
            "type": "video",
            "id": "pop-up-video",
            "label": "Video"
        },
        {
            "type": "text",
            "id": "video_url",
            "label": "Video URL",
            "default": "https://storage.googleapis.com/brandify-usercontent-dev/69874008-1473-4da4-8a4b-2ad28af8100f?Expires=1745452799&GoogleAccessId=GOOG1EQYYUCN45RGYHGLHRS57FY5LN3ZFJOZEUIRTNHTBDZURLXQ4KVCAN4BI&Signature=pEXGXD7CkHy3WOUvh38lYWAqdNw%3D%0A"
        },
        {
            "type": "header",
            "content": "Extra"
        },
        {
            "type": "checkbox",
            "id": "show_password_box",
            "label": "Show password form by default",
            "default": false,
            "info": "Shows password form instead of signup form by default"
        },
        {
            "type": "text",
            "id": "klaviyo_form",
            "label": "Klaviyo form ID",
            "default": "UsPdCH"
        }
    ],
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Opening soon"
                }
            ]
        },
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Be the first to know when we launch.<p>"
                }
            ]
        },
        {
            "type": "newsletter",
            "name": "Newsletter",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "newsletter_button_text",
                    "label": "Newsletter button text",
                    "default": "Sign up"
                },
                {
                    "type": "paragraph",
                    "content": "Every sign up will create a 'Customer account' in this store. [Manage customers](/admin/customers?query=&tag=prospect)"
                }
            ]
        },
        {
            "type": "share",
            "name": "Share",
            "limit": 1
        }
    ]
}
{% endschema %}
