{%- liquid
    assign sizes = '100vw'

    assign grid = section.settings.grid
    assign grid_mobile = section.settings.grid_mobile | plus: 0

    if section.settings.enable_carousel_mobile
        assign mobile_sizes = 'calc(100vw - 96px)'
        if grid_mobile == 2
            assign mobile_sizes = 'calc((100vw - 15px) / 2 - 96px)'
        endif
    else
        assign mobile_sizes = 'calc(100vw - 36px)'
    endif

    case grid
        when 2
            assign sizes = '(min-width: 1600px) calc((80vw - 90px) / 2), (min-width: 981px) calc((100vw - 90px) / 2), (min-width: 768px) calc((100vw - 66px) / 2), ' | append: mobile_sizes
        when 3
            assign sizes = '(min-width: 1600px) calc((80vw - 120px) / 3), (min-width: 981px) calc((100vw - 120px) / 3), (min-width: 768px) calc((100vw - 66px) / 2), ' | append: mobile_sizes
        when 4
            assign sizes = '(min-width: 1600px) calc((80vw - 105px) / 4), (min-width: 1081px) calc((100vw - 105px) / 4), (min-width: 981px) calc((100vw - 90px) / 3), (min-width: 768px) calc((100vw - 51px) / 2), ' | append: mobile_sizes
    endcase

    assign show_link = false
    if section.settings.link_title != blank and section.settings.link != blank
        assign show_link = true
    endif
-%}

<section class="section section--{{ section.id }} section--featured-collections{% if show_link %} section--has-link{% endif %}{% if section.settings.divider == true %} section--divider section--divider-p{% endif %} js-featured-collections-section" data-section-id="{{ section.id }}" data-section-type="featured-collections">
    <div class="container container--{{ section.settings.section_width }} {% if section.settings.enable_carousel_mobile %}u-ph+@mob{% endif %}">
        {% if section.settings.title != blank %}
            <div class="section__title {% if section.settings.text_alignment == 'center' %}section__title--center{% endif %} {% if section.settings.enable_carousel_mobile == false %}u-ph0@mob{% endif %}">
                <h2 class="section__title-text">{{ section.settings.title | escape }}</h2>
            </div>
        {% endif %}
    </div>

        {%- liquid
            assign product_limit = section.settings.maximum_products

            if section.settings.link_title and section.settings.link
                assign link = section.settings.link
            endif

            if settings.quick_shop_enabled
                assign quick_shop_trigger = settings.quick_shop_trigger

                if quick_shop_trigger == 'icon-hover' and section.settings.enable_carousel_desktop
                    assign quick_shop_trigger = 'icon'
                endif
            endif

            comment
                Items scroll logic
            endcomment
            assign grid_tag = 'div'
            assign grid_tag_attributes = ''
            if section.settings.enable_carousel_desktop or section.settings.enable_carousel_mobile
                assign grid_tag = 'items-scroll'
                comment
                    Can choose from 'mob', 'phab', 'tab', 'desk'
                    Widths need to be in sync with the ones in items-scroll.js
                endcomment
                assign breakpoint = 'phab'
                if section.settings.enable_carousel_mobile and section.settings.enable_carousel_desktop == false
                    assign grid_tag_attributes = 'breakpoint-max="' | append: breakpoint | append: '"'
                    assign mq_bound = 'max'
                    assign mq_adjustment = 0
                endif
                if section.settings.enable_carousel_mobile == false and section.settings.enable_carousel_desktop
                    assign grid_tag_attributes = 'breakpoint-min="' | append: breakpoint | append: '"'
                    assign mq_bound = 'min'
                    assign mq_adjustment = 1
                endif

                assign image_scroll_navigation_ratio = nil
                unless settings.product_grid_image_size == 'natural'
                    assign values = settings.product_grid_image_size | split: ':'
                    assign i_w = values[0] | plus: 0.0 | times: grid
                    assign i_h = values[1] | plus: 0.0

                    assign image_scroll_navigation_ratio = i_w | append: ' / ' | append: i_h
                endunless

                assign image_scroll_navigation_ratio_mobile = nil
                unless settings.product_grid_image_size == 'natural'
                    assign values = settings.product_grid_image_size | split: ':'
                    assign i_w = values[0] | plus: 0.0 | times: grid_mobile
                    assign i_h = values[1] | plus: 0.0

                    assign image_scroll_navigation_ratio_mobile = i_w | append: ' / ' | append: i_h
                endunless
            endif
        -%}

        {%- if grid_tag == 'items-scroll' -%}
            {%- capture selector -%}
                .section--{{ section.id }} [data-items] {
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    overflow-x: hidden;
                }

                .section--{{ section.id }} [data-items] > * {
                    flex-shrink: 0;
                    flex-grow: 0;
                }
            {%- endcapture -%}
            <style>
                {%- if mq_bound -%}
                    {%- case breakpoint -%}
                        {%- when 'mob' -%}
                            @media screen and ({{ mq_bound }}-width: {{ 480 | plus: mq_adjustment }}px) {
                                {{ selector }}
                            }
                        {%- when 'phab' -%}
                            @media screen and ({{ mq_bound }}-width: {{ 560 | plus: mq_adjustment }}px) {
                                {{ selector }}
                            }
                        {%- when 'tab' -%}
                            @media screen and ({{ mq_bound }}-width: {{ 768 | plus: mq_adjustment }}px) {
                                {{ selector }}
                            }
                        {%- when 'desk' -%}
                            @media screen and ({{ mq_bound }}-width: {{ 980 | plus: mq_adjustment }}px) {
                                {{ selector }}
                            }
                    {%- endcase -%}
                {%- else -%}
                    {{ selector }}
                {%- endif -%}
            </style>
        {%- endif -%}

        {%- if section.blocks.size > 1 -%}
        <tabbed-content align-items="{{ section.settings.text_alignment }}">
            {%- liquid
                if section.settings.enable_carousel_mobile == false
                    assign tab_triggers_classes = "u-ph-@mob"
                endif
            -%}
            <div class="tab-triggers__wrapper container--{{ section.settings.section_width }} u-ph0@mob">
                <tab-triggers role="tablist" {% if tab_triggers_classes %}class="{{ tab_triggers_classes }}"{% endif %}>
                    {%- for block in section.blocks -%}
                        <button
                            type="button"
                            role="tab"
                            aria-controls="tab-panel-{{ block.id }}"
                            id="tab-{{ block.id }}"
                            {% if forloop.first %}
                            aria-selected="true"
                            tabindex="0"
                            {% else%}
                            aria-selected="false"
                            tabindex="-1"
                            {% endif %}
                            {% if block.settings.heading_color.alpha > 0 %}
                            style="color: {{ block.settings.heading_color }}"
                            {% endif %}
                            {% if block.settings.link %}
                            data-update-link="{{ block.settings.link }}"
                            {% else %}
                            data-update-link="{{ section.settings.link }}"
                            {% endif %}
                            {{ block.shopify_attributes }}
                        >
                            {%- if block.settings.heading == blank and block.settings.collection == blank -%}
                                Example collection
                            {%- elsif block.settings.heading == blank -%}
                                {{- block.settings.collection.title -}}
                            {%- else -%}
                                {{- block.settings.heading -}}
                            {%- endif -%}
                        </button>
                    {%- endfor -%}
                </tab-triggers>
            </div>
        {%- endif -%}

        {%- for block in section.blocks -%}
            {%- liquid
                if block.settings.link and forloop.first and link
                    assign link = block.settings.link
                endif

                assign collection = collections[block.settings.collection]

                assign items_overflow = false
                if collection != blank
                    assign product_count = collection.products.count
                    if product_count > product_limit
                        assign product_count = product_limit
                    endif
                else
                    assign product_count = product_limit
                endif

                if section.settings.enable_carousel_mobile and section.settings.enable_carousel_desktop
                    if product_count > grid
                        assign items_overflow = true
                    elsif product_count > grid_mobile
                        assign items_overflow_max = breakpoint
                    endif
                elsif section.settings.enable_carousel_mobile and section.settings.enable_carousel_desktop == false
                    if product_count > grid_mobile
                        assign items_overflow_max = breakpoint
                    endif
                else
                    if product_count > grid
                        assign items_overflow_min = breakpoint
                    endif
                endif
            -%}

            {%- if section.blocks.size > 1 -%}
                <tab-panel
                    id="tab-panel-{{ block.id }}"
                    role="tabpanel"
                    aria-labelledby="tab-{{ block.id }}"
                    tabindex="0"
                    {% if forloop.first != true %}
                    hidden
                    {% endif %}
                >
            {%- endif -%}

            <div class="container container--{{ section.settings.section_width }}{% if section.settings.enable_carousel_mobile %} u-ph0@mob{% endif %}">
                <{{ grid_tag }}
                    class="{% if image_scroll_navigation_ratio %}ratio-navigation{% endif %} {% if image_scroll_navigation_ratio_mobile %}ratio-navigation-mobile{% endif %}"
                    {% if image_scroll_navigation_ratio or image_scroll_navigation_ratio_mobile %}
                        style="
                            {% if image_scroll_navigation_ratio %}--navigation-ratio: {{ image_scroll_navigation_ratio }};{% endif %}
                            {% if image_scroll_navigation_ratio_mobile %}--navigation-ratio-mobile: {{ image_scroll_navigation_ratio_mobile }};{% endif %}
                        "
                    {% endif %}
                    {% if items_overflow %}
                        items-overflow
                    {% elsif items_overflow_max %}
                        items-overflow-max="{{ items_overflow_max }}"
                    {% elsif items_overflow_min %}
                        items-overflow-min="{{ items_overflow_min }}"
                    {% endif %}
                    {{ grid_tag_attributes }}
                    {% if section.blocks.size == 1 %}
                        {{ block.shopify_attributes }}
                    {% endif %}
                >

                    <div class="
                            grid-layout
                            grid-layout--{{ grid }}
                            grid-layout--{{ grid_mobile }}@mob
                            {% if grid > product_count %}
                            grid-layout--align-center
                            {% endif %}
                        "
                        data-items
                    >
                        {%- liquid
                            assign small_buttons_on_mobile = false
                            if grid_mobile == 2
                                assign small_buttons_on_mobile = true
                            endif
                        -%}
                        {% for product in collection.products limit: product_limit %}
                            {%- liquid
                                assign unique_id = block.id | append: '--' | append: product.id
                            -%}
                            {% render 'product-grid-item',
                                id: unique_id,
                                product: product,
                                swatchEnable: true,
                                collection: collection,
                                page: 'home',
                                image_sizes: sizes,
                                quick_shop_trigger: quick_shop_trigger,
                                small_buttons_on_mobile: small_buttons_on_mobile,
                                type: 'standard'
                            %}
                        {% else %}
                            {%- liquid
                                if quick_shop_trigger
                                    assign quick_shop_trigger_split = quick_shop_trigger | split: "-"
                                    assign quick_shop_trigger = quick_shop_trigger_split | first

                                    assign quick_shop_hover_enabled = false
                                    if quick_shop_trigger_split.size > 1
                                        assign quick_shop_hover_enabled = true
                                    endif
                                endif
                            -%}
                            {% for i in (1..product_limit) %}
                                {%- liquid
                                    assign product_id = 'preview-product-' | append: i
                                -%}
                                <div class="
                                        product-card
                                        js-product
                                        js-product-card
                                        product-card--{% if settings.product_grid_image_fit %}fit{% else %}crop{% endif %}
                                        {% if settings.product_grid_align %}product-card--center{% else %}product-card--left{% endif %}
                                        {% if page == 'home' %}home-products__item{% endif %}
                                        {% if quick_shop_trigger %}product-card--trigger-{{ quick_shop_trigger }}{% endif %}
                                        {% if quick_shop_hover_enabled %}product-card--hover{% endif %}
                                    "
                                    data-product-id="{{ product_id }}"
                                >

                                    <div class="product-card-top">

                                        <div class="product-card__media{% if settings.product_grid_hover == 'zoom' and quick_shop_trigger != 'icon' %} product-card__media--hover-zoom{% endif %}">

                                            <div class="o-ratio o-ratio--{{ settings.product_grid_image_size }}"{% if settings.product_grid_image_size == 'natural' %} style="padding-bottom:100%;"{% endif %}>

                                                <div class="o-ratio__content">

                                                    <div class="product-card__spinner product-card__spinner--grid js-product-card__spinner">
                                                        <div class="product-card__spin-border"></div>
                                                        <div class="product-card__spin-border"></div>
                                                        <div class="product-card__spin-border"></div>
                                                        <div class="product-card__spin-border"></div>
                                                    </div>

                                                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                                    {{ 'product-' | append: current | placeholder_svg_tag: 'product-card__img placeholder-svg placeholder-svg--light' }}

                                                </div>
                                            </div>

                                        </div>

                                        {% if quick_shop_trigger == 'button' %}
                                            <div class="product-card-btn">
                                                <a href="#" class="c-btn c-btn--full{% if settings.quick_shop_product_grid_button == 'outline' %} c-btn--hollow{% else %} c-btn--primary{% endif %} {% if small_buttons_on_mobile %}c-btn--small@mobile{% endif %} product-card-btn__btn js-quickshop-trigger">{{ 'products.product.select_options' | t }}</a>
                                            </div>
                                        {% endif %}

                                        {% if quick_shop_trigger == 'icon' %}
                                            <button class="quick-shop__trigger js-quickshop-trigger" aria-hidden="true" tabindex="-1">
                                                {% render 'icon-quickbuy' %}
                                            </button>
                                        {% endif %}

                                    </div>

                                    <a href="#" class="product-card__link js-product-link{% if page == 'home' %} featured-collection__link{% endif %}">
                                        <div class="product-card__details">
                                            {% if settings.product_grid_vendor %}
                                                <h3 class="product-card__vendor u-medium-small">{{ 'homepage.onboarding.product_vendor' | t }}</h3>
                                            {% endif %}

                                            <h3 class="product-card__title f-family--{{ settings.type_grid_style }} f-caps--{{ settings.type_grid_capitalize }} f-space--{{ settings.type_grid_letterspace }}">{{ 'homepage.onboarding.product_title' | t }}</h3>

                                            <div class="product-card__details__hover u-medium">
                                                {% if settings.product_grid_price %}
                                                    <p class="price">
                                                        {% render 'product-price',
                                                            product: product,
                                                            from_price: true,
                                                            show_price_notes: false
                                                        %}
                                                    </p>
                                                {% endif %}
                                            </div>

                                        </div>
                                    </a>

                                    {% if settings.quick_shop_enabled %}
                                        <quick-shop class="quick-shop--drawer-{{ settings.color_drawer_style }}">

                                            <div class="quick-shop__overlay"></div>

                                            <div class="mobile-draw__fixed mobile-draw__header">
                                                <a class="cc-fs1 cc-uppercase cc-underline cc-pointer js-close-mfp">
                                                    <i class="icon icon--close-l"></i>
                                                </a>
                                            </div>

                                            <div class="quick-shop__wrapper">
                                                <div class="product-card__wrapper">

                                                    <button class="quick-shop__close" title="Close (Esc)" type="button" aria-label="close">
                                                        <i class="icon icon--close-l"></i>
                                                    </button>

                                                    <div class="product-card__media product-card__media--modal{% if settings.product_grid_hover == 'zoom' %} product-card__media--hover-zoom{% endif %}">
                                                        <div class="o-ratio o-ratio--modal o-ratio--{{ settings.product_grid_image_size }}"{% if settings.product_grid_image_size == 'natural' %} style="padding-bottom:100%;"{% endif %}>
                                                            <div class="o-ratio__content">

                                                                <div class="product-card__spinner product-card__spinner--modal js-product-card__spinner">
                                                                    <div class="product-card__spin-border"></div>
                                                                    <div class="product-card__spin-border"></div>
                                                                    <div class="product-card__spin-border"></div>
                                                                    <div class="product-card__spin-border"></div>
                                                                </div>

                                                                {{ 'product-' | append: current | placeholder_svg_tag: 'product-card__img placeholder-svg placeholder-svg--light' }}

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="product-card__details">

                                                        <a href="#" class="product-card__link js-product-link">
                                                            {% if settings.product_grid_vendor %}
                                                                <h3 class="product-card__vendor u-medium-small">{{ 'homepage.onboarding.product_vendor' | t }}</h3>
                                                            {% endif %}
                                                            <h3 class="product-card__title f-family--{{ settings.type_grid_style }} f-caps--{{ settings.type_grid_capitalize }} f-space--{{ settings.type_grid_letterspace }}">{{ 'homepage.onboarding.product_title' | t }}</h3>
                                                        </a>

                                                        <div class="product-card__details__hover u-medium">
                                                            {% if settings.product_grid_price %}
                                                                <p class="price">
                                                                    {% render 'product-price',
                                                                        product: product,
                                                                        from_price: true,
                                                                        show_price_notes: false
                                                                    %}
                                                                </p>
                                                            {% endif %}
                                                        </div>

                                                        <div class="product-card__more u-small">
                                                            <a href="#" class="product-card-details js-view-details">{{ 'general.quickshop.view_details' | t }}</a>
                                                        </div>
                                                    </div>

                                                </div>

                                                <hr class="product-form__divider">

                                                {% capture 'product_id_attr' %}js-product-form--{{ product_id }}{% endcapture %}

                                                <div class="product-form product-form--card js-product-form">
                                                    <div class="product-form__content">
                                                        <div class="price__notes">
                                                            {%- if cart.taxes_included -%}
                                                                <p class="price__note price__note--tax">
                                                                    {{ 'products.general.include_taxes' | t }}
                                                                </p>
                                                            {%- endif -%}
                                                            {%- if shop.shipping_policy.body != blank -%}
                                                                <p class="price__note price__note--tax">
                                                                    {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                                                                </p>
                                                            {%- endif -%}
                                                        </div>

                                                        <div class="product-form__qty">
                                                            <label for="Quantity" class="quantity-selector u-small">{{ 'products.product.quantity' | t }}</label>
                                                            <div class="product-form__qty-input">
                                                                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector js-qty-input">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="product-form__add js-product-buttons{% if settings.quick_shop_payment_button %} product-form__add--dynamic{% endif %}">
                                                        <button type="submit" name="add" class="c-btn c-btn--full c-btn--{% if settings.quick_shop_payment_button %}hollow{% else %}primary{% endif %} product-form__add-btn js-product-add">
                                                            <span class="product-form__add-btn__text">
                                                                <span class="js-product-add-text">{{ 'products.product.add_to_cart' | t }}</span>
                                                            </span>
                                                            <span class=" product-form__add-btn__tick"><i class="icon icon--tick"></i></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </quick-shop>
                                    {% endif %}
                                </div>

                            {% endfor %}
                        {% endfor %}
                    </div>
                </{{ grid_tag }}>
            </div>
            {%- if section.blocks.size > 1 -%}
            </tab-panel>
            {%- endif -%}
        {%- endfor -%}

        {%- if section.blocks.size > 1 -%}
        </tabbed-content>
        {%- endif -%}

        {% unless link == blank %}
            <div class="section__link section__link--center">
                <a href="{{ link }}" class="link link--arrow section__link-link js-update-link">{{ section.settings.link_title | escape }}</a>
            </div>
        {% endunless %}

    {%- if section.settings.enable_carousel_desktop or section.settings.enable_carousel_mobile or request.design_mode -%}
        <script src="{{ 'items-scroll.js' | asset_url }}" type="module"></script>
    {%- endif -%}
    {%- if section.blocks.size > 1 or request.design_mode -%}
        <script src="{{ 'tabbed-content.js' | asset_url }}" type="module"></script>
    {%- endif -%}
</section>

{% schema %}
{
    "name": "Featured collections",
    "class": "js-section__featured-collections",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Our collections"
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Section heading alignment",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "left"
                },
                {
                    "label": "Center",
                    "value": "center"
                }
            ]
        },
        {
            "type": "select",
            "id": "section_width",
            "label": "Section width (desktop)",
            "default": "large",
            "options": [
                {
                    "label": "Default",
                    "value": "large"
                },
                {
                    "label": "Narrow",
                    "value": "small"
                },
                {
                    "label": "Wide",
                    "value": "wide"
                }
            ]
        },
        {
            "type": "text",
            "id": "link_title",
            "label": "Link label",
            "default": "View all"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "checkbox",
            "id": "divider",
            "label": "Show dividing line",
            "default": false
        },
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "range",
            "id": "maximum_products",
            "label": "Maximum products to display",
            "min": 4,
            "max": 48,
            "step": 1,
            "default": 18
        },
        {
            "type": "range",
            "id": "grid",
            "label": "Products per row (desktop)",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
        },
        {
            "type": "checkbox",
            "id": "enable_carousel_desktop",
            "label": "Enable carousel on desktop",
            "default": true,
            "info": "The Quick Shop 'hover modal' will be disabled when using carousel. Only buttons or icons will be displayed."
        },
        {
            "type": "select",
            "id": "grid_mobile",
            "label": "Products per row (mobile)",
            "default": "1",
            "options": [
                {
                    "label": "1",
                    "value": "1"
                },
                {
                    "label": "2",
                    "value": "2"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "enable_carousel_mobile",
            "label": "Enable carousel on mobile",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "limit": 3,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "info": "Used as a tab label when you have set up multiple collection blocks."
                },
                {
                    "type": "color",
                    "id": "heading_color",
                    "label": "Heading color",
                    "default": "rgba(0,0,0,0)"
                },
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Section link override",
                    "info": "Changes destination of main section link."
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured collections",
            "blocks": [
                {
                    "type": "collection"
                }
            ]
        }
    ],
    "enabled_on": {
        "templates": [
            "404",
            "article",
            "blog",
            "cart",
            "collection",
            "index",
            "list-collections",
            "page",
            "product",
            "search"
        ],
        "groups": ["footer"]
    }
}
{% endschema %}
